/* General styles */
html { box-sizing: border-box; }

body { margin: 0; 
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: #f1f1f1; 
    position: relative; }

/* Calculator Styles */
.calculator { 
    background: white; 
    width: 350px; 
    border-radius: 12px; 
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6); }

/* Display Styles */
.calculator-display { 
    background: #2e2e2e; 
    color: white; 
    margin: 0; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    border-radius: 10px 10px 0 0; 
    max-width: 100%; }

.calculator-display h1 { 
    margin: 0; 
    padding: 25px; 
    font-size: 25px; 
    font-family: "Lucida Console", sans-serif; 
    font-weight: 100; 
    overflow-x: auto; }

/* Button Styles */
.calculator-buttons { 
    display: grid; 
    grid-gap: 10px; 
    grid-template-columns: repeat(4, 1fr); 
    padding: 10px; }

button { 
    min-height: 50px; 
    font-size: 20px; 
    font-weight: 500; 
    border: none; 
    background: rgb(200, 200, 200); 
    border-radius: 5px; cursor: pointer; }

/* Button Interactions */
button:hover { 
    filter: brightness(110%); }

button:active { 
    transform: translateY(1px); }

button:focus { 
    outline: none; }

/* Special Button Styles */
.operator { 
    background: #ff9500; 
    color: white; 
    font-size: 30px; }

.equal-sign { 
    background: #28a745; 
    color: white; }

.clear { 
    grid-column: 1 / span 4; 
    background: #f44336; 
    color: white; }

.scientific { 
    background: #7c4dff; 
    color: white; }

/* Dark Mode Styles */
.dark-mode .calculator { 
    background: #333; 
    color: white; }

.dark-mode .calculator-display { 
    background: #222; 
    color: white; }

.dark-mode button { 
    background: #444; 
    color: white; }

.dark-mode .operator { 
    background: #ff5722; }

/* Dark Mode Toggle Button */
.dark-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Responsive Design (For Small Screens) */
@media screen and (max-width: 600px) {
    .calculator { width: 95%; }
}